server {
    listen               443 ssl;
    server_name          explorer.${HOST_DOMAIN};

    ssl_certificate      /certs/live/${HOST_DOMAIN}-0001/fullchain.pem;
    ssl_certificate_key  /certs/live/${HOST_DOMAIN}-0001/privkey.pem;

    client_max_body_size 200M;

    location / {
        proxy_pass http://explorer:80;
    }
}

# vim:syntax=nginx
