server {

  listen                443 ssl;
  server_name           ${HOST_DOMAIN};
  add_header            Strict-Transport-Security "max-age=0;";

  location / {
    proxy_pass          http://hello:80;
  }
}

# vim:syntax=nginx
