[Unit]
Description=Linux Dash

[Service]
Type=simple
WorkingDirectory=/opt/linux-dash-master/app/server
ExecStart=/usr/bin/python2 index.py --port 8082
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
