[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=andre
Group=andre
RemainAfterExit=yes
WorkingDirectory=/home/andre/homeserver
ExecStart=/usr/bin/docker-compose up -d --env-file env
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
